generated-docs/

build

examples/hello
examples/exit_code_msg
examples/exit_tag

*.a
*.tar.br
*.tar.gz
*.so
*.dylib
*.dll
*.ll
*.o
*.obj
*.lib
*.wasm
*.rh
*.rm

Cargo.lock

target/

.DS_Store

crates/roc_std/
crates/glue.md
