name: CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-14 # Apple Silicon
          - macos-13 # Intel Mac
          - ubuntu-22.04 # Linux x86_64
          - ubuntu-24.04-arm # Linux ARM64
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Run all tests
        run: bash ci/all_tests.sh
